<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">

	<title>reveal.js – The HTML Presentation Framework</title>

	<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
	<meta name="author" content="Hakim El Hattab">

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="dist/reset.css">
	<link rel="stylesheet" href="dist/reveal.css">
	<link rel="stylesheet" href="dist/theme/black.css" id="theme">

	<!-- Theme used for syntax highlighting of code -->
	<link rel="stylesheet" href="plugin/highlight/monokai.css">
</head>

<body>

	<div class="reveal">

		<!-- Any section element inside of this container is displayed as a slide -->
		<div class="slides">
			@RenderBody()
		</div>

	</div>

	<script src="dist/reveal.js"></script>
	<script src="plugin/zoom/zoom.js"></script>
	<script src="plugin/notes/notes.js"></script>
	<script src="plugin/search/search.js"></script>
	<script src="plugin/markdown/markdown.js"></script>
	<script src="plugin/highlight/highlight.js"></script>
	<script src="plugin/seminar/plugin.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"></script>
	<script src="plugin/chart/plugin.js"></script>
	<script src="plugin/poll/plugin.js"></script>
	<script src="plugin/questions/plugin.js"></script>
	<link rel="stylesheet" href="plugin/poll/style.css">
	<link rel="stylesheet" href="plugin/questions/style.css">

	<script>

		// Also available as an ES module, see:
		// https://revealjs.com/initialization/
		Reveal.initialize({
			controls: true,
			progress: true,
			center: true,
			transition: 'convex', // none/fade/slide/convex/concave/zoom
			transitionSpeed: 'default', // default/fast/slow
			hash: true,
			seminar: {
				server: 'localhost:4433', // change server as necessary
				room: 'The cool stuff', // put your room name here
				hash: '$2a$05$z6F8iZEGk/hotzpDroOYe.kZMvGgZlcyIT5G97s/GNg/YpQ.XNa5K', // a hash is required for every seminar room and can be generated on the URL of the socket.io server
				autoJoin: true // set to true to auto,matically join the seminar room
			},
			// Learn about plugins: https://revealjs.com/plugins/
			plugins: [
				RevealZoom,
				RevealNotes,
				RevealSearch,
				RevealMarkdown,
				RevealHighlight,
				RevealChart,
				RevealSeminar,
				RevealPoll,
				RevealQnA]
		});

	</script>

</body>
</html>
