<section data-background-gradient="linear-gradient(to bottom, #95ecb0, #f3f98a)"> <!-- data-background-color="rgb(70, 70, 255) -->
	<section>
		<h2>Simon🍦</h2>
		<p>36 jaar, Huis ter Heide</p>
		<p>Getrouwd en 2 zoons van 6 en 8</p>
	</section>

	<section>
		<img height="200" data-src="/img/shipitsmarter_logo_rgb.svg">
		<p>Transport management systeem</p>
		<p>Circa 25 man</p>
		<p>Azure & datacenter rack in Adam</p>
		<p>Classic ASP, C#, SQL Server, K8S (AKS), Golang, MongoDB</p>
		<p>Nieuwe productontwikkeling (viya.me)</p>
	</section>
	<section data-background-iframe="https://shipitsmarter.com" data-background-interactive>
	</section>
	<section data-background-iframe="https://viya.me" data-background-interactive>
	</section>
</section>
