<section>
	<section>
		<h2>GitOps</h2>
		<p>
			<ul>
				<li>Principes, geen wet</li>
				<li>Werkt uitstekend samen met DevOps</li>
				<li>Git beschrijft de waarheid</li>
				<li>Je kiest je eigen tools</li>
			</ul>
		</p>
		<p>
		</p>
	</section>
	
	<section>
		<h2>De 4 GitOps principes</h2>
		<p>
			<ol>
				<li>Declarative (not imperative)</li>
				<li>Versioned and Immutable</li>
				<li>Pulled Automatically (geen push!)</li>
				<li>Continuously Reconciled</li>
			</ol>
		</p>
	</section>

	<section data-background-iframe="https://opengitops.dev/" data-background-interactive>
	</section>
</section>

<section>
	<h2>GitOps</h2>
	<img class="r-stretch" src="/img/gitops-flow.drawio.png">
</section>

<section>
	<h2>GitOps</h2>
	<img class="r-stretch" src="/img/gitops-flow-2.drawio.png">
</section>

<section>
    <section data-markdown>
        <script type="text/template">
			![](/img/cncf-color-bg.svg)

			* `CNCF`: De maintainers van Kubernetes
			* Community rondom cloud native technology
			* > 100 andere projecten (zie [landscape poster](https://landscape.cncf.io/))
			* Conferenties: [KubeCon Amsterdam](https://events.linuxfoundation.org/kubecon-cloudnativecon-europe/)
        </script>
    </section>

    <img class="r-stretch" src="/img/graphic-chasm-3-02.svg">
</section>

<section data-markdown>
	<script type="text/template">
	# Tools we use

	* [ExternalDNS](https://github.com/kubernetes-sigs/external-dns)
	* [cert-manager](https://cert-manager.io/)
	* [MongoDB Atlas Kubernetes Operator](https://www.mongodb.com/docs/atlas/atlas-operator/)
	* [kubernetes-secret-generator](https://github.com/mittwald/kubernetes-secret-generator)
	* [testkube](https://testkube.io/) 
	</script>
</section>
