<!-- To be placed -->
<!-- You want more deployments, that's where you learn and that's how you avoid fear or pain in doing them -->
<!-- Wie is bekend met de SRE roll? Site Reliability Engineer -->

<section data-background-iframe="https://semver.org/" data-background-interactive>
</section>

<section data-background-iframe="https://cloud.google.com/blog/products/devops-sre/announcing-dora-2021-accelerate-state-of-devops-report" data-background-interactive>
</section>

<section data-background-iframe="https://dora.dev/" data-background-interactive>
</section>

<!-- CD push vs pull! -->

<section data-markdown>
	<script type="text/template">
	# Push of pull?

	* ~~CD pipelines~~
    * GitOps tooling trekt wijzingen naar binnen

	</script>
</section>

<section>
	<h2>Staging git flow</h2>
	<img class="r-stretch" src="/img/git-staging.drawio.png">
</section>

<section>
	<h2>Feature branching</h2>
	<img height="400" data-src="/img/git-pr.drawio.png" alt="Down arrow">
</section>

<section data-markdown>
	<script type="text/template">
	# Push of pull?

	* ~~CD pipelines~~
    * GitOps tooling trekt wijzingen naar binnen
	</script>
</section>
