<!-- data-background-gradient="radial-gradient(#11d3f3, #adfda2)" -->
<!-- https://www.qovery.com/blog/ephemeral-environments-explained-benefits-and-how-to-get-started -->

<section data-markdown>
	<script type="text/template">
	# Ephemeral envinroments

    > lasting for a very short time.

	* PR omgeving, preview, on-demand etc.
    * Volledig automatisch
	</script>
</section>
