<section>
	<a href="https://revealjs.com">
		<img src="/img/dotned-saturday.png" alt="reveal.js logo" style="height: 50px; margin: 0 auto 4rem auto; background: transparent;" class="demo-logo">
	</a>
	<h3>Breng je pull requests tot leven met Kubernetes, GitOps en ArgoCD</h3>
	<p>
		<small>Simon Koudijs</small>
	</p>
</section>
