<section>   
	<h3>Breng je pull requests tot leven met</h3>
	
	<div class="r-hstack justify-center">
		<div>
			<h3>K8s</h3>
			<img src="/img/k8s-logo.svg" style="height: 200px; margin: 4rem auto 4rem auto; background: transparent;" class="demo-logo">
		</div>

		<div>
			<h3>GitOps</h3>
			<img src="/img/git-logo.svg" style="height: 200px; margin: 4rem auto 4rem auto; background: transparent;" class="demo-logo">
		</div>

		<div>
			<h3>ArgoCD</h3>
			<img src="/img/argo-icon-color.svg" style="height: 200px; margin: 4rem auto 4rem auto; background: transparent;" class="demo-logo">
		</div>
	</div>

	<p>
		<small>dotNed Saturday, 13 mei 2023, Simon Koudijs</small>
	</p>

</section>
